# Ignore virtual environments
venv/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Streamlit cache
.streamlit/

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore large files
*.pdf
*.jpg
*.png

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db